body, html {
  width: 100%;
  height: 100%;
  text-align: center;
  background: skyblue;
}

.layerInput {
  padding: 10px 0;
  color: #fff;
}

#spinner {
  width: 40px;
  height: 40px;
  background: #fff;
  display: inline-block;
  position: relative;
  top: 15px;
}

#app {
  height: 100%;
  padding-top: 50px;
  perspective: 500px;
  -webkit-perspective: 5000px;
  color: #fff;
}

.Ball {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  /* transform: translate3d(30px, 20px, 10px); */
  backface-visibility: visible;
  transform-style: preserve-3d;
}